.u-section-1 .u-sheet-1 {
  min-height: 580px;
}

.u-section-1 .u-image-1 {
  width: 256px;
  height: 256px;
  margin: 69px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 30px 0 60px;
}